<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Round About - Start Bootstrap Template</title>

  <!-- Bootstrap Core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="css/round-about.css" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>

<body>


<!-- Page Content -->
<div class="container">

  <!-- Introduction Row -->
  <div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">What is SellingRank?</h1>

        <p class="lead">SellingRank.com is the first company in the world dedicated to the training and global ranking of
          sales professionals.
        </p>
        <p class="lead">That sounds great but why does the world need this?
        </p>
        <p>
          For decades salespeople and companies have paid a great deal of money to test salespeople in an effort to determine
          their aptitude for sales. We thought it was time to change that model, not only do we test for aptitude but we test
          score and rank based on performance history and skills. Salespeople can then use their rank on resumes and with
          recruiters, to boast on LinkedIn, or simply compete with your colleagues.

          This is just the beginning, we have many iterations and changes in the coming months and years.
        </p>
      </h1>
      <p>SellingRank is dedicated to salespeople, our mission is to provide insight, training, competition, and fun into the world of sales</p>
    </div>
  </div>

  <!-- Team Members Row -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">Our Team</h2>
    </div>
    <div class="col-lg-4 col-sm-6 text-center">
      <%= image_tag("jerin.jpg", :alt => "logo", :class => 'img-circle img-responsive img-center') %>
      <h3>Jerin Hiatt
        <small>Founder</small>
      </h3>
      <p>Sales and Coding...who knew</p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center">
      <%= image_tag("tim.jpg", :alt => "logo", :class => 'img-circle img-responsive img-center') %>
      <h3>Tim Park
        <small>Head Developer</small>
      </h3>
      <p> Coding Warrior</p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center">
      <%= image_tag("unclesam.jpg", :alt => "logo", :class => 'img-circle img-responsive img-center') %>
      <h3>This could be you
        <small></small>
      </h3>
      <p>Interested in working at SellingRank?</p>
      <p>Contact us to tell us how you could help!</p>
    </div>
  </div>

  <hr>

  <!-- Footer -->
  <footer>
    <div class="row">
      <div class="col-lg-12">

      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
  </footer>

</div>
<!-- /.container -->

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

</body>

</html>
