<div class="page-header">
  <!DOCTYPE html>
  <html lang="en-us">
  <head>
    <style>
      .about {
        float: left;
        margin: 10px;
        padding: 10px;
        width: 300px;
        height: 300px;
        border: 1px solid black;
      }
      .twitter {
        float: center;
        margin: 10px;
        padding: 1px;
        width: 400px;
        height: 300px;
      }
    </style>
  </head>
  <body>

  <h3>Founded in 2016, Selling rank is the first and only global leaderboard for sales professionals.</h3>
  <h3>Our mission is to serve the sales community through insight, training, and some friendly competition</h3>

  <div class="about">
    <h2>Jerin Hiatt</h2>
    <p>Info about Jerin</p>
    <p>more info</p>
  </div>

  <div class="about">
    <h2>Tim Park</h2>
    <p>Info about Tim</p>
    <p>More Info</p>
  </div>

  <div class="about">
    <h2>Interested in Joining?</h2>
    <p>Email Us at</p>
    <p>help@sellingrank.com</p>
  </div>

  <div class="twitter">
    <a class="twitter-timeline" href="https://twitter.com/sellingrank" data-widget-id="717879790175281152">Tweets by @sellingrank</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script
  </div>


  </body>
  </html>
