<div class="page-header">
  <h1>Global Ranking of Sales Professionals</h1>
  <h2>Where do you rank?</h2>
</div>
<p>SellingRank.com is the first site dedicated to the training and global ranking of sales professionals.
  That sounds great but why does the world need this?

  For decades salespeople and companies have paid a great deal of money to test salespeople in an effort to determine their aptitude for sales. We thought it was time to change that model, not only do we test for aptitude but we test score and rank based on performance history and skills. Salespeople can then use their rank on resumes and with recruiters, to boast on LinkedIn, or simply compete with your colleagues.

  This is just the beginning, we have many iterations and changes in the coming months and years.

  Click here to take the test and find out where you rank.</p>


