<section class="content-section video-section">
<div class="fullscreen-bg">
  <video loop muted autoplay poster="img/videoframe.jpg" class="fullscreen-bg__video">
    <source src="video/NYC-Traffic.webm" type="video/webm">
    <source src="video/NYC-Traffic.mp4" type="video/mp4">
    <source src="video/NYC-Traffic.ogg" type="video/ogg">
  </video>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2>Global Ranking of Sales Professionals</h2>
      <h3>Where do you rank?</h3>
      <% if current_user %>
        <a class="btn btn-lg btn-primary" href="/tests" role="button">Take An Assesment »</a>
      <% else %>
        <a class="btn btn-lg btn-primary" href="/users/signup" role="button">Take An Assesment »</a>
      <% end %>
    </div>
  </div>
</div>
</section>














