<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Well done, <%= @user.first_name %>!</h1>
    <p>
      You scored <%= @score %> on <%= @test.name %>
    </p>
    <p>
      You have <%= @attempts_left %> attempts left on this test.
      Keep practicing your skills and you'll just keep getting better!
    </p>
  </body>
</html>
