<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have recently requested to reset your password at Selling Rank</h1>
    <p>
      If you feel like this is a mistake, please let us know as soon as possible
      and we will work with you to resolve the issue. Thanks!
    </p>
    <p>
      Your new password is <%= @new_password %>
    </p>
  </body>
</html>
