<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Message from <%= "#{@first_name} #{@last_name}"%></h1>
    <p>
      <%= "#{@message}" %>
    </p>
    <p>
      <h3>Contact Info</h3>
      <%= "#{@email}" %><br />
      <%= "#{@phone}" %>
    </p>
  </body>
</html>
