<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Selling Rank, <%= @user.first_name %>!</h1>
    <p>
      Thank you for creating an account at Selling Rank. We hope you enjoy our services as you
      build your skills as a salesperson.
    </p>
    <p>
      To edit your profile, just follow this link: <br />
      <%= @url %>.
    </p>
    <p>Best of luck in your future progress at Selling Rank!</p>
  </body>
</html>
