<div class="page-header">
  <h1>Leaderboard</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th>First Name</th>
      <th>Last Initial</th>
      <th>High Score</th>
    </tr>
    </thead>

    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.attempts.order("score DESC").maximum(:score) %></td>
    <% end %>
    </tr>
    </tbody>
  </table>
</div>

