/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.navbar-brand {
  padding: 5px;
  background-color: #7C98B3;

}

.navbar-brand > img {
  height: 110%;
  padding: 10px;
  width: auto;
  background-color: #7C98B3;

}

body {
  padding-top: 10px;
}

.container .jumbotron, .container-fluid .jumbotron {
  padding-right: 60px;
  padding-left: 60px;
  background-color: #7C98B3;
  text-align: center;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #7C98B3;
}

.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
}

.bs-docs-footer {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 100px;
  color: #99979c;
  text-align: center;
  background-color: #2a2730;
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

.answer-row {
  margin-left: -30px;
  margin-right: -15px;
}

.answer-row:before,
.answer-row:after {
  content: " ";
  display: table;
  padding-right: 50px;
}

.answer-row:after {
  clear: both;
}

.answer-row:before,
.answer-row:after {
  content: " ";
  display: table;
}

.answer-row:after {
  clear: both;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
  padding-right: 35px;
}
