/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.navbar-brand {
  padding: 5px;
  background-color: #7C98B3;

}

.navbar-brand > img {
  height: 110%;
  padding: 10px;
  width: auto;
  background-color: #7C98B3;

}

body {
  padding-top: 10px;
}

.container .jumbotron, .container-fluid .jumbotron {
  padding-right: 60px;
  padding-left: 60px;
  background-color: #7C98B3;
  text-align: center;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #7C98B3;
}

.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
}

.bs-docs-footer {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 150px;
  color: #99979c;
  text-align: center;
  background-color: #2a2730;
}

@media (min-width: 992px) {
  .container {
    width: auto;
  }
}

.answer-row {
  margin-left: -30px;
  margin-right: -15px;
}

.answer-row:before,
.answer-row:after {
  content: " ";
  display: table;
  padding-right: 50px;
}

.answer-row:after {
  clear: both;
}

.answer-row:before,
.answer-row:after {
  content: " ";
  display: table;
}

.answer-row:after {
  clear: both;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
  padding-right: 35px;
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('NYC-Traffic.jpg') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
    background-color: #7C98B3;

  }
}

.btn-lg{
  background-color: #7C98B3;
  border-color: #7C98B3 ;
}
.video-section .pattern-overlay {
  background-color: rgba(71, 71, 71, 0.59);
  padding: 110px 0 32px;
  min-height: 496px;
  /* Incase of overlay problems just increase the min-height*/
}
.video-section h1, .video-section h2, .video-section h3{
  text-align:center;
  color:#EFF7F6;
}
.video-section h1{
  font-size:110px;
  font-family: 'Buenard', serif;
  font-weight:bold;
  text-transform: uppercase;
  margin: 40px auto 0px;
  text-shadow: 1px 1px 1px #000;
  -webkit-text-shadow: 1px 1px 1px #000;
  -moz-text-shadow: 1px 1px 1px #000;
}
.video-section h2{
  font-size:70px;
  font-family: 'Buenard', serif;
  font-weight:bold;
  text-transform: uppercase;
  margin: 40px auto 0px;
  text-shadow: 1px 1px 1px #000;
  -webkit-text-shadow: 1px 1px 1px #000;
  -moz-text-shadow: 1px 1px 1px #000;
}
.video-section h3{
  font-size: 48px;
  font-weight:lighter;
  margin: 0px auto 15px;
}
.video-section .buttonBar{display:none;}
.player {font-size: 1px;}

.btn-lg{
  background-color: #7C98B3;
  border-color: #7C98B3 ;
}

.focus {
  padding-bottom: 100px;
  overflow: hidden;
  background: #FFFFFF;
}
