body {
  padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.img-center {
  margin: 0 auto;
}

footer {
  margin: 50px 0;
}

.form-horizontal .header {
  color: #36A0FF;
  font-size: 27px;
  padding: 10px;
}

.form-horizontal .bigicon {
  font-size: 35px;
  color: #36A0FF;
}
